<div class="container mt-4">
    <h2>{{ produto.id ? 'Editar Produto' : 'Cadastrar Produto' }}</h2>
    <form (ngSubmit)="salvarProduto()">
        <div class="mb-3">
            <label class="form-label">Nome do Produto</label>
            <input type="text" class="form-control" [(ngModel)]="produto.produto" name="produto" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Descrição</label>
            <textarea class="form-control" [(ngModel)]="produto.descricao" name="descricao" required></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Foto (Nome do Arquivo)</label>
            <input type="text" class="form-control" [(ngModel)]="produto.foto" name="foto" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Preço</label>
            <input type="number" class="form-control" [(ngModel)]="produto.preco" name="preco" required>
        </div>
        <button type="submit" class="btn btn-success">{{ produto.id ? 'Atualizar' : 'Cadastrar' }}</button>
        <a routerLink="/painel-principal" class="btn btn-secondary">Cancelar</a>
    </form>
</div>